/* .modal{
    background-color: rgb(27, 27, 27);
} */
 .modal-content{
    background-color: rgb(34, 33, 33);
    border: solid 1px rgb(61, 61, 61);
    color: white;
 }
 .btn-close{
  color: white;
 }
 .modal-body {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  