body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
 
  
  .logoCancion img {
    width: 35%;
  }
  
  .tamañoLogoGyF {
    max-width: 20px;
    max-height: 20px;
  }
  
  .ms-10 {
    margin-left: 80px;
  }
  .card{
  
    color: white;
    width: 300px;
    height: 250px;
   background-color: rgb(22, 22, 24) ;
   margin: 10px;

  }
  .title-canciones{
    color: white;
  }
  .card-info{
 text-align: start;
 
  }
  .card-titulo{
    font-weight: bold;
    font-size: 23px;
  }
  .card-Grupo{
    font-size: 17px
  }
  .contenedor-musica{
   display: flex;
   justify-content: space-between;
   overflow-y: hidden;
   height: auto;
   flex-wrap: wrap;
 
  }
  .inframe{
    width: 300px;
  }
  @media all and (max-width: 567px) {
    .padreInfo {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    main {
      flex-grow: 1;
      margin: 0px auto;
   
    }
    
  }
  .contenedor-musica{
    display: flex;
    flex-wrap:wrap ;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  } 
 
  
  @media only screen and (max-width: 600px)  {
    .bannerscarousel {
      height: 500px;
    }
    .contenedor-musica{
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
     
      height: 600px;
    }
     .inframe{
    width: 191px;
  }
  
    .card{
 
      width: 191px;
      height: 250px;
    }
  }
  
  /* styles.css */
  
  #gallery .card {
    margin-bottom: 20px;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  