.img-nosotros{
    width: 350px;
    height: 350px;
    margin: 50px;
    border-radius: 100%;
    border: solid rgb(138, 4, 4) 4px;

}
.nosotros{
    background-color: rgb(22, 22, 24);
    color: white;
}
.div-section{
    margin:50px;
}
.parrafoSobrenosotros{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;


}
.section-info{
    text-align: center;
      overflow-x: hidden;
    
}

.title-Sobrenosotros{
 margin: 40px;
}
/* nosotros */
.info{
    
    overflow-x: hidden; 
}
.avatar{
    
    width: 200px;
    height: 200px;
    border-radius: 100%;
  border: solid 3px rgb(114, 0, 0);

}
.desarollador{
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}
.nombre{
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}
.title-quienessomos{
    font-weight: bold;
    font-family: sans-serif;
    margin: 50px;
}
.info-nosotros{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 800px) {
    .img-nosotros{
        width: 300px;
        height: 300px;
        margin: 10px;
        border: solid 5px rgb(190, 48, 48);
        margin: 50px -20px;
    }
    .section-info{
       display: flex;
       flex-direction: column;
       text-align: start;
       
       
    }
    .parrafoSobrenosotros{
        font-size: 16px;
        margin: 0px -10px;
    }
    .title-Sobrenosotros{
        font-size: 40px;
        margin: 15px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .info{
        margin: 0px auto;

    }
    .info-nosotros{
        margin: 10px 80px;
    }
    .avatar{
        width: 170px;
        height: 170px;
    }
    .title-quienessomos{
        font-size: 30px;
    }
    .avatar{
        border: solid red 3px;
    }
   
    
}
