*{
  margin: 0;
   

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
i{
  color: white;
}
nav{
  background-color: black;
}

main {
  flex-grow: 1; 
   background-color: rgb(0, 0, 0);
   overflow-x: hidden;
}
footer{
  background-color: rgb(22, 22, 24);
}
.logoCancion img {
  width: 35%;
}

.tamañoLogoGyF {
  max-width: 20px;
  max-height: 20px;
}

.ms-10 {
  margin-left: 80px;
}

@media all and (max-width: 767px) {
  .padreInfo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

@media all and (min-width: 992px) {
  .bannerscarousel {
    height: 500px;
  }
  
}

/* styles.css */

#gallery .card {
  margin-bottom: 20px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

