footer{
    background-color: rgb(17, 17, 17);
   height:100px;
   text-align: center;
   color: white;
}
nav{
    background-color: black;
}
.link{
    text-decoration: none;
    color: black;
    
}
